(ns com.olivergg.query.asset
  (:require [com.olivergg.query.common :refer :all]))

(prn "loading assetquery ns")



(defquery myassetquery[param1 point]
  ;; a complex multiline and conditional SQL query with the sql function (which is defined in the common.edn file). 
        " /* sql comment */
        select {c.*} from asset a
	       where a.name = :namedParameter1 "
        (when param1 " and a.deleted 
                       is false ")
        (when (== (.getX point) 1.0 ) " and a.xpos = :xpoint")
        " order by a.description ")








